.cardStack{
    position: relative;
    padding: 10rem 0;
    overflow: scroll;
    overflow-x: hidden;


    &Card{
        position: absolute;
        left: 0;
        width: 100%;

    }
}
  
::-webkit-scrollbar {
    display: none;
  }