.cardStack{
    position: relative;
    padding: 10rem;

    &Card:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

    }

    &Card:nth-child(2){
        position: absolute;
        top: 2.5rem;
        left: 0;
        width: 100%;

    }
    
    &Card:nth-child(3){
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;

    }
    &Card:nth-child(4){
        position: absolute;
        top: 7.5rem;
        left: 0;
        width: 100%;

    }
    &Card:nth-child(5){
        position: absolute;
        top: 10rem;
        left: 0;
        width: 100%;

    }
    &Card:nth-child(6){
        position: absolute;
        top: 12.5rem;
        left: 0;
        width: 100%;

    }
}
  
  //.cardStackCard:not(:first-child) {
  //  margin-top: 2.5rem;
  //}